@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  

// colors
$dark : #000;
$green: #005250;

// Font Family
$font-family: 'Lato', sans-serif;
$font-light: ( 
    font-family: $font-family, 
    font-weight: 100, 
);
$font-regular: ( 
    font-family: $font-family, 
    font-weight: 300, 
);
$font-medium: ( 
    font-family: $font-family, 
    font-weight: 400, 
);
$font-bold: ( 
    font-family: $font-family, 
    font-weight: 700, 
);

@mixin print-styles($map) {
    @each $property,
    $value in $map {
        #{$property}: $value;
    }
}